.etiqueta {
  display: inline-block;
  border: 1px solid black;
  box-shadow: 0px 0px 5px black;
  border-radius: 50px;
  padding: 5px 10px 5px 10px;
}

.etiqueta-galardones {
  display: inline-block;
  border: 1px solid rgba(65, 65, 158, 0.759);
  box-shadow: 0px 0px 5px rgba(65, 65, 158, 0.759);
  background: linear-gradient(90deg, white 0%, rgba(65, 65, 158, 0.3) 100%);
  border-radius: 50px;
  padding: 5px 10px 5px 10px;
}

.boton-eliminar-etiqueta {
  padding: 3px;
  font-size: 25px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid black;
  color: white;
  background: rgb(162, 45, 69);
  display: flex;
  align-items: center;
  justify-content: center;
}
