.week-grid {
  display: flex;
  justify-content: center;
}

button {
  margin: 5px;
  padding: 8px;
  cursor: pointer;
}

form {
  margin-top: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  max-width: 300px;
}

.card strong {
  display: block;
  font-size: 18px;
  margin-bottom: 8px;
}

.card p {
  margin: 0;
}

.etiqueta-dia {
  border: 2px solid;
  border-radius: 5px;
  border-color: rgb(35, 34, 47, 0.6);
  color: rgb(35, 34, 47);
  font-size: 20px;
  background-color: rgb(35, 34, 47, 0.05);
  font-weight: bold;
}

.columna-dia {
  border: 1px solid;
  border-radius: 10px;
  border-color: rgb(35, 34, 47, 0.4);
  background-color: rgba(65, 65, 158, 0.2);
}

.formularioTurno {
  background-color: rgb(35, 34, 47, 0.1);
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border: 1px solid;
  border-radius: 5px;
  margin-top: 5px;
}

.titulo {
  font-family: "Monserrat Alternates Regular";
}

.turno {
  background: linear-gradient(
    360deg,
    rgba(255, 255, 255, 1) 70%,
    rgba(65, 65, 158, 0.2) 100%
  );
  border: 1px solid;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75);
  padding: 10px;
}
